
<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{fullname | titlecase}}
    </h4>
  </div>
  <div class="card-body">
    <img [src]= "contacto.picture.medium" [alt]="fullname">
    <span> - </span>
   <div class="btn-group" role="group" aria-label="">
     <button type="button" (click)="sendBorrar()" 
     class="btn btn-warning">Oye..borrame</button>
   </div>
  </div>
  <div class="card-footer text-muted">
      <p class ="card-text">{{contacto.email}}</p>
      <p class ="card-text">{{contacto.nat}}</p>
      <p class ="card-text">{{contacto.phone}}</p>
      <p class ="card-text">Cumpleaños : {{contacto.dob.date | date:'fullDate' }}</p>
    
  

  </div>
</div>